/* src/pages/Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scroll from animations */
  background-color: #f4f4f5; /* Light grey background for the whole page */
}

/* Optional: Add a slight gap if you want the Hero to sit lower */
/* But usually, you want the Hero flush against the Navbar */
#hero-section {
  width: 100%;
  border-bottom: 4px solid var(--baltic-sea);
}
